body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    /* position: sticky; */
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
}

.container {
    height: 13vh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px; /* Adjust height as needed */
    width: auto;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.signup-button a {
    background-color: #4db8ff; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.signup-button a:hover {
    background-color: #1a8cff; 
}

section {
    padding: 20px;
    padding-top: 15vh;
}

.home {
    background-color: #f2f2f2;
    height: 1000px; /* Dummy content height */
}

.market {
    background-color: #e6f7ff;
    height: 1000px; /* Dummy content height */
}

.trucking-services {
    background-color: #ffe6cc;
    height: 1000px; /* Dummy content height */
}
